<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <!-- load sports.properties file -->
    	<context:property-placeholder location="classpath:sport.properties"/>

    <!-- Define your beans here -->
    <bean id="myCoach" class="com.spring.demo.TrackCoach">
    <!-- constructor dependency injection -->
    	<constructor-arg ref="myFortuneService"></constructor-arg>
    </bean>
    
    <bean id="myCricketCoach" class="com.spring.demo.CricketCoach">
    <!-- setter dependency injection -->
    	<property name="fortuneService" ref="myFortuneService"></property>
    <!-- inject literal values -->
    	<property name="email" value="jasmeet17@github.com"></property>
    	
   	<!-- <property name="team" value="jas"></property> because we cannot have multiple property definitions  -->
    <!-- reference values from properties file -->
    	<property name="team" value="${foo.team}"></property>
    	<property name="owner" value="${foo.owner}"></property>
    </bean>
    
    <!--  define the bean-->
    <bean id="myFortuneService" class="com.spring.demo.HappyFortuneService">
    </bean>
    
    <!-- define dependency -->
    <!--  inject the dependency using "constructor injection"-->
    <bean id="myBaseballCoach" class="com.spring.demo.BaseballCoach">
    <!-- constructor dependency injection -->
    	<constructor-arg ref="myFortuneService"></constructor-arg>
    </bean>
    
    <!--  define the bean-->
    <bean id="myRandomFortuneService" class="com.spring.demo.RandomFortuneService">
    </bean>
    
    <!-- define dependency -->
    <!--  inject the dependency using "constructor injection"-->
    <bean id="myFootballCoach" class="com.spring.demo.FootballCoach" scope="singleton">
    <!-- constructor dependency injection -->
    	<constructor-arg ref="myRandomFortuneService"></constructor-arg>
    </bean>
    
    
    
    
</beans>





